:root {
  --red: #D71B14;
}

::-moz-selection {
 color: #fff;
 background: #D71B14;
}

::selection {
 color: #fff;
 background: #D71B14;
}

.no-overflow-y {
  overflow-y: hidden;
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}

.add-right-gap {
  margin-right: 15px;
}

